In [2]:
import pandas as pd

In [13]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

In [15]:
% matplotlib inline

In [3]:
df1=pd.read_csv("http://www.fema.gov/api/open/v1/DisasterDeclarationsSummaries.csv")

In [4]:
df1.head()

,disasterNumber,ihProgramDeclared,iaProgramDeclared,paProgramDeclared,hmProgramDeclared,state,declarationDate,fyDeclared,disasterType,incidentType,title,incidentBeginDate,incidentEndDate,disasterCloseOutDate,declaredCountyArea,placeCode,hash,lastRefresh
0,1,0,1,1,1,GA,1953-05-02T00:00:00.000Z,1953,DR,Tornado,TORNADO,1953-05-02T00:00:00.000Z,1953-05-02T00:00:00.000Z,1954-06-01T00:00:00.000Z,NaN,NaN,e6f77c3a97c63d478bf14c9a58f60a0d,2018-02-09T14:38:26.149Z
1,17,0,1,1,1,IA,1954-06-23T00:00:00.000Z,1954,DR,Flood,FLOOD,1954-06-23T00:00:00.000Z,1954-06-23T00:00:00.000Z,1956-02-01T00:00:00.000Z,NaN,NaN,b0afe5b02eccaa5c8eed1d3f354b0f2b,2018-02-09T14:38:26.191Z
2,3,0,1,1,1,LA,1953-05-29T00:00:00.000Z,1953,DR,Flood,FLOOD,1953-05-29T00:00:00.000Z,1953-05-29T00:00:00.000Z,1960-02-01T00:00:00.000Z,NaN,NaN,a6dd526e79d7292ae21a7f9430422931,2018-02-09T14:38:26.144Z
3,31,0,1,1,1,AK,1954-11-10T00:00:00.000Z,1955,DR,Other,SEVERE HARDSHIP,1954-11-10T00:00:00.000Z,1954-11-10T00:00:00.000Z,1957-09-01T00:00:00.000Z,NaN,NaN,c0388e7b904ec46bec14718092965024,2018-02-09T14:38:26.182Z
4,9,0,1,1,1,TX,1953-06-19T00:00:00.000Z,1953,DR,Flood,FLOOD,1953-06-19T00:00:00.000Z,1953-06-19T00:00:00.000Z,1958-01-01T00:00:00.000Z,NaN,NaN,4cd4150b6fb47c91e50e3c466726ea67,2018-02-09T14:38:26.288Z

In [5]:
df1.head(12)

,disasterNumber,ihProgramDeclared,iaProgramDeclared,paProgramDeclared,hmProgramDeclared,state,declarationDate,fyDeclared,disasterType,incidentType,title,incidentBeginDate,incidentEndDate,disasterCloseOutDate,declaredCountyArea,placeCode,hash,lastRefresh
0,1,0,1,1,1,GA,1953-05-02T00:00:00.000Z,1953,DR,Tornado,TORNADO,1953-05-02T00:00:00.000Z,1953-05-02T00:00:00.000Z,1954-06-01T00:00:00.000Z,NaN,NaN,e6f77c3a97c63d478bf14c9a58f60a0d,2018-02-09T14:38:26.149Z
1,17,0,1,1,1,IA,1954-06-23T00:00:00.000Z,1954,DR,Flood,FLOOD,1954-06-23T00:00:00.000Z,1954-06-23T00:00:00.000Z,1956-02-01T00:00:00.000Z,NaN,NaN,b0afe5b02eccaa5c8eed1d3f354b0f2b,2018-02-09T14:38:26.191Z
2,3,0,1,1,1,LA,1953-05-29T00:00:00.000Z,1953,DR,Flood,FLOOD,1953-05-29T00:00:00.000Z,1953-05-29T00:00:00.000Z,1960-02-01T00:00:00.000Z,NaN,NaN,a6dd526e79d7292ae21a7f9430422931,2018-02-09T14:38:26.144Z
3,31,0,1,1,1,AK,1954-11-10T00:00:00.000Z,1955,DR,Other,SEVERE HARDSHIP,1954-11-10T00:00:00.000Z,1954-11-10T00:00:00.000Z,1957-09-01T00:00:00.000Z,NaN,NaN,c0388e7b904ec46bec14718092965024,2018-02-09T14:38:26.182Z
4,9,0,1,1,1,TX,1953-06-19T00:00:00.000Z,1953,DR,Flood,FLOOD,1953-06-19T00:00:00.000Z,1953-06-19T00:00:00.000Z,1958-01-01T00:00:00.000Z,NaN,NaN,4cd4150b6fb47c91e50e3c466726ea67,2018-02-09T14:38:26.288Z
5,35,0,1,1,1,OK,1955-06-01T00:00:00.000Z,1955,DR,Flood,FLOOD & TORNADO,1955-06-01T00:00:00.000Z,1955-06-01T00:00:00.000Z,1959-12-01T00:00:00.000Z,NaN,NaN,0ff7aff8743f693923b6cfd3bd7bd3f6,2018-02-09T14:38:26.292Z
6,12,0,1,1,1,FL,1953-10-22T00:00:00.000Z,1953,DR,Flood,FLOOD,1953-10-22T00:00:00.000Z,1953-10-22T00:00:00.000Z,1956-05-01T00:00:00.000Z,NaN,NaN,e1dd1b5fcd1a696666324e75fc3947e2,2018-02-09T14:38:26.190Z
7,37,0,1,1,1,NC,1955-08-13T00:00:00.000Z,1955,DR,Hurricane,HURRICANES,1955-08-13T00:00:00.000Z,1955-08-13T00:00:00.000Z,1961-02-10T00:00:00.000Z,NaN,NaN,97f42550d76f5640ed0ec536019dbe74,2018-02-09T14:38:26.194Z
8,26,0,1,1,1,NY,1954-10-07T00:00:00.000Z,1954,DR,Hurricane,HURRICANES,1954-10-07T00:00:00.000Z,1954-10-07T00:00:00.000Z,1956-12-01T00:00:00.000Z,NaN,NaN,edde11716f5ee9c6159415d3f91b4d31,2018-02-09T14:38:26.181Z
9,5,0,1,1,1,MT,1953-06-06T00:00:00.000Z,1953,DR,Flood,FLOODS,1953-06-06T00:00:00.000Z,1953-06-06T00:00:00.000Z,1955-12-01T00:00:00.000Z,NaN,NaN,e7d2763d2bbece77c1d9d404cdfd7795,2018-02-09T14:38:26.287Z
10,30,0,1,1,1,IN,1954-10-26T00:00:00.000Z,1954,DR,Flood,FLOOD,1954-10-26T00:00:00.000Z,1954-10-26T00:00:00.000Z,1956-03-01T00:00:00.000Z,NaN,NaN,9da11641005f89692675ed8f8bd6dd71,2018-02-09T14:38:26.291Z
11,6,0,1,1,1,MI,1953-06-09T00:00:00.000Z,1953,DR,Tornado,TORNADO,1953-06-09T00:00:00.000Z,1953-06-09T00:00:00.000Z,1956-03-30T00:00:00.000Z,NaN,NaN,651d8c2509b27f596b6197beb8467991,2018-02-09T14:38:26.189Z

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48215 entries, 0 to 48214
Data columns (total 18 columns):
disasterNumber          48215 non-null int64
ihProgramDeclared       48215 non-null int64
iaProgramDeclared       48215 non-null int64
paProgramDeclared       48215 non-null int64
hmProgramDeclared       48215 non-null int64
state                   48215 non-null object
declarationDate         48215 non-null object
fyDeclared              48215 non-null int64
disasterType            48215 non-null object
incidentType            48215 non-null object
title                   48215 non-null object
incidentBeginDate       48215 non-null object
incidentEndDate         47809 non-null object
disasterCloseOutDate    38097 non-null object
declaredCountyArea      48015 non-null object
placeCode               48015 non-null float64
hash                    48215 non-null object
lastRefresh             48215 non-null object
dtypes: float64(1), int64(6), object(11)
memory usage: 4.6+ MB

In [7]:
df1.lastRefresh

0        2018-02-09T14:38:26.149Z
1        2018-02-09T14:38:26.191Z
2        2018-02-09T14:38:26.144Z
3        2018-02-09T14:38:26.182Z
4        2018-02-09T14:38:26.288Z
5        2018-02-09T14:38:26.292Z
6        2018-02-09T14:38:26.190Z
7        2018-02-09T14:38:26.194Z
8        2018-02-09T14:38:26.181Z
9        2018-02-09T14:38:26.287Z
10       2018-02-09T14:38:26.291Z
11       2018-02-09T14:38:26.189Z
12       2018-02-09T14:38:26.194Z
13       2018-02-09T14:38:26.180Z
14       2018-02-09T14:38:26.186Z
15       2018-02-09T14:38:26.291Z
16       2018-02-09T14:38:26.192Z
17       2018-02-09T14:38:26.173Z
18       2018-02-09T14:38:26.185Z
19       2018-02-09T14:38:26.289Z
20       2018-02-09T14:38:26.293Z
21       2018-02-09T14:38:26.193Z
22       2018-02-09T14:38:26.179Z
23       2018-02-09T14:38:26.186Z
24       2018-02-09T14:38:26.290Z
25       2018-02-09T14:38:26.293Z
26       2018-02-09T14:38:26.197Z
27       2018-02-09T14:38:26.262Z
28       2018-02-09T14:38:26.266Z
29       2018-02-09T14:38:26.253Z
                   ...
48185    2018-05-10T20:21:40.423Z
48186    2018-05-10T20:21:40.400Z
48187    2018-05-10T20:21:40.430Z
48188    2018-05-10T20:21:40.425Z
48189    2018-05-10T20:21:40.406Z
48190    2018-05-10T20:21:40.424Z
48191    2018-05-10T20:21:40.432Z
48192    2018-05-10T20:21:40.424Z
48193    2018-05-10T20:21:40.428Z
48194    2018-05-10T20:21:40.431Z
48195    2018-05-10T20:21:40.427Z
48196    2018-05-10T20:21:40.428Z
48197    2018-05-10T20:21:40.423Z
48198    2018-05-10T20:21:40.431Z
48199    2018-05-10T20:21:40.407Z
48200    2018-05-10T20:21:40.408Z
48201    2018-05-08T13:44:28.975Z
48202    2018-05-08T14:06:00.706Z
48203    2018-05-08T14:06:00.723Z
48204    2018-05-08T19:04:11.747Z
48205    2018-05-08T18:26:23.197Z
48206    2018-05-08T19:04:11.947Z
48207    2018-05-17T13:40:03.144Z
48208    2018-05-17T16:59:57.049Z
48209    2018-05-25T20:42:35.656Z
48210    2018-05-25T20:42:35.659Z
48211    2018-05-25T20:42:35.846Z
48212    2018-05-25T20:42:35.840Z
48213    2018-05-25T21:04:33.915Z
48214    2018-05-30T15:25:06.142Z
Name: lastRefresh, Length: 48215, dtype: object

In [8]:
df1.disasterType.value_counts()

DR    34760
EM    12115
FM      950
FS      390
Name: disasterType, dtype: int64

In [9]:
df1.incidentType.value_counts().reset_index()

               index  incidentType
0    Severe Storm(s)         16002
1          Hurricane          9841
2              Flood          9617
3               Snow          3620
4               Fire          2970
5   Severe Ice Storm          1990
6            Tornado          1430
7            Drought          1292
8      Coastal Storm           463
9           Freezing           301
10             Other           297
11           Typhoon           119
12        Earthquake           105
13           Volcano            51
14    Fishing Losses            42
15     Mud/Landslide            31
16  Toxic Substances             9
17           Tsunami             9
18          Chemical             9
19   Dam/Levee Break             6
20       Human Cause             6
21         Terrorist             5

In [10]:
df1[df1.title == "FLOOD"]

,disasterNumber,ihProgramDeclared,iaProgramDeclared,paProgramDeclared,hmProgramDeclared,state,declarationDate,fyDeclared,disasterType,incidentType,title,incidentBeginDate,incidentEndDate,disasterCloseOutDate,declaredCountyArea,placeCode,hash,lastRefresh
1,17,0,1,1,1,IA,1954-06-23T00:00:00.000Z,1954,DR,Flood,FLOOD,1954-06-23T00:00:00.000Z,1954-06-23T00:00:00.000Z,1956-02-01T00:00:00.000Z,NaN,NaN,b0afe5b02eccaa5c8eed1d3f354b0f2b,2018-02-09T14:38:26.191Z
2,3,0,1,1,1,LA,1953-05-29T00:00:00.000Z,1953,DR,Flood,FLOOD,1953-05-29T00:00:00.000Z,1953-05-29T00:00:00.000Z,1960-02-01T00:00:00.000Z,NaN,NaN,a6dd526e79d7292ae21a7f9430422931,2018-02-09T14:38:26.144Z
4,9,0,1,1,1,TX,1953-06-19T00:00:00.000Z,1953,DR,Flood,FLOOD,1953-06-19T00:00:00.000Z,1953-06-19T00:00:00.000Z,1958-01-01T00:00:00.000Z,NaN,NaN,4cd4150b6fb47c91e50e3c466726ea67,2018-02-09T14:38:26.288Z
6,12,0,1,1,1,FL,1953-10-22T00:00:00.000Z,1953,DR,Flood,FLOOD,1953-10-22T00:00:00.000Z,1953-10-22T00:00:00.000Z,1956-05-01T00:00:00.000Z,NaN,NaN,e1dd1b5fcd1a696666324e75fc3947e2,2018-02-09T14:38:26.190Z
10,30,0,1,1,1,IN,1954-10-26T00:00:00.000Z,1954,DR,Flood,FLOOD,1954-10-26T00:00:00.000Z,1954-10-26T00:00:00.000Z,1956-03-01T00:00:00.000Z,NaN,NaN,9da11641005f89692675ed8f8bd6dd71,2018-02-09T14:38:26.291Z
13,21,0,1,1,1,WV,1954-08-04T00:00:00.000Z,1954,DR,Flood,FLOOD,1954-08-04T00:00:00.000Z,1954-08-04T00:00:00.000Z,1957-05-01T00:00:00.000Z,NaN,NaN,fcd87c2c930a7832476fa367c891a9bc,2018-02-09T14:38:26.180Z
18,36,0,1,1,1,NV,1955-06-21T00:00:00.000Z,1955,DR,Flood,FLOOD,1955-06-21T00:00:00.000Z,1955-06-21T00:00:00.000Z,1957-10-01T00:00:00.000Z,NaN,NaN,05fb9a56fcb20338ed9ee3d29b348366,2018-02-09T14:38:26.185Z
21,27,0,1,1,1,NM,1954-10-13T00:00:00.000Z,1954,DR,Flood,FLOOD,1954-10-13T00:00:00.000Z,1954-10-13T00:00:00.000Z,1959-12-01T00:00:00.000Z,NaN,NaN,52b59373216310c3ffb3b3b0731550b9,2018-02-09T14:38:26.193Z
24,20,0,1,1,1,SD,1954-07-31T00:00:00.000Z,1954,DR,Flood,FLOOD,1954-07-31T00:00:00.000Z,1954-07-31T00:00:00.000Z,1956-02-01T00:00:00.000Z,NaN,NaN,faeef061de90973feb2693e34f218a66,2018-02-09T14:38:26.290Z
26,52,0,1,1,1,NY,1956-03-29T00:00:00.000Z,1956,DR,Flood,FLOOD,1956-03-29T00:00:00.000Z,1956-03-29T00:00:00.000Z,1957-03-01T00:00:00.000Z,NaN,NaN,1e5bd3efbb9c0cdcb50238c4044758d0,2018-02-09T14:38:26.197Z
38,38,0,1,1,1,NM,1955-08-15T00:00:00.000Z,1955,DR,Flood,FLOOD,1955-08-15T00:00:00.000Z,1955-08-15T00:00:00.000Z,1959-06-01T00:00:00.000Z,NaN,NaN,1f66aa74e58e63eb0c584fc0ade4c2a5,2018-02-09T14:38:26.212Z
39,63,0,1,1,1,NV,1956-08-31T00:00:00.000Z,1956,DR,Flood,FLOOD,1956-08-31T00:00:00.000Z,1956-08-31T00:00:00.000Z,1956-09-05T00:00:00.000Z,NaN,NaN,28555e83aa3bca9819d04d994999aac5,2018-02-09T14:38:26.280Z
43,51,0,1,1,1,PA,1956-03-15T00:00:00.000Z,1956,DR,Flood,FLOOD,1956-03-15T00:00:00.000Z,1956-03-15T00:00:00.000Z,1959-06-01T00:00:00.000Z,NaN,NaN,0248f62ccfa02b4b5b3085b5072e3ec7,2018-02-09T14:38:26.250Z
44,76,0,1,1,1,ID,1957-05-27T00:00:00.000Z,1957,DR,Flood,FLOOD,1957-05-27T00:00:00.000Z,1957-05-27T00:00:00.000Z,1960-12-01T00:00:00.000Z,NaN,NaN,c02920d0aece79f68e74b135db3f4db1,2018-02-09T14:38:26.254Z
50,69,0,1,1,1,OR,1957-03-01T00:00:00.000Z,1957,DR,Flood,FLOOD,1957-03-01T00:00:00.000Z,1957-03-01T00:00:00.000Z,1960-06-01T00:00:00.000Z,NaN,NaN,ee2cc33aef51855e51e98e14e8bfa19a,2018-02-09T14:38:26.271Z
52,18,0,1,1,1,TX,1954-07-01T00:00:00.000Z,1954,DR,Flood,FLOOD,1954-07-01T00:00:00.000Z,1954-07-01T00:00:00.000Z,1959-07-01T00:00:00.000Z,NaN,NaN,f450cfc4ceb3c2cb07e6c35f8b9f1faa,2018-02-09T14:38:26.208Z
60,50,0,1,1,1,WA,1956-02-25T00:00:00.000Z,1956,DR,Flood,FLOOD,1956-02-25T00:00:00.000Z,1956-02-25T00:00:00.000Z,1961-07-01T00:00:00.000Z,NaN,NaN,85238bbfaf8d8bb62e29a6ef018f0097,2018-02-09T14:38:26.294Z
64,49,0,1,1,1,OR,1955-12-29T00:00:00.000Z,1956,DR,Flood,FLOOD,1955-12-29T00:00:00.000Z,1955-12-29T00:00:00.000Z,1960-10-01T00:00:00.000Z,NaN,NaN,87fe5d6d7ab6114047d1db9643689157,2018-02-09T14:38:26.267Z
65,74,0,1,1,1,OK,1957-05-18T00:00:00.000Z,1957,DR,Flood,FLOOD,1957-05-18T00:00:00.000Z,1957-05-18T00:00:00.000Z,1960-08-01T00:00:00.000Z,NaN,NaN,7d3ad533cc180eb590d54215fe0c0536,2018-02-09T14:38:26.271Z
68,48,0,1,1,1,NV,1955-12-24T00:00:00.000Z,1956,DR,Flood,FLOOD,1955-12-24T00:00:00.000Z,1955-12-24T00:00:00.000Z,1961-09-01T00:00:00.000Z,NaN,NaN,400c4123b816d7859ef362e7efa9d069,2018-02-09T14:38:26.214Z
72,67,0,1,1,1,WV,1957-01-31T00:00:00.000Z,1957,DR,Flood,FLOOD,1957-01-31T00:00:00.000Z,1957-01-31T00:00:00.000Z,1959-10-01T00:00:00.000Z,NaN,NaN,26b9a799a964876713a3537842f66c95,2018-02-09T14:38:26.260Z
73,92,0,1,1,1,OK,1959-07-08T00:00:00.000Z,1959,DR,Flood,FLOOD,1959-07-08T00:00:00.000Z,1959-07-08T00:00:00.000Z,1961-05-01T00:00:00.000Z,NaN,NaN,f1aff0777b3fd2ed45ac298085404b04,2018-02-09T14:38:26.264Z
87,47,0,1,1,1,CA,1955-12-23T00:00:00.000Z,1956,DR,Flood,FLOOD,1955-12-23T00:00:00.000Z,1955-12-23T00:00:00.000Z,1968-08-12T00:00:00.000Z,NaN,NaN,1a11a45803caa132e54791f261531bef,2018-02-09T14:38:26.196Z
90,66,0,1,1,1,KY,1957-01-31T00:00:00.000Z,1957,DR,Flood,FLOOD,1957-01-31T00:00:00.000Z,1957-01-31T00:00:00.000Z,1959-08-01T00:00:00.000Z,NaN,NaN,2ac89c22eb2ed6b8a19e23e48e960abe,2018-02-09T14:38:26.253Z
91,91,0,1,1,0,IN,1959-01-29T00:00:00.000Z,1959,DR,Flood,FLOOD,1959-01-29T00:00:00.000Z,1959-01-29T00:00:00.000Z,1960-11-01T00:00:00.000Z,Clay (County),99021.0,78224dcde8a6003a3dfd2fa78e8c20ef,2018-02-09T14:38:26.257Z
94,8,0,1,1,1,IA,1953-06-11T00:00:00.000Z,1953,DR,Flood,FLOOD,1953-06-11T00:00:00.000Z,1953-06-11T00:00:00.000Z,1955-11-01T00:00:00.000Z,NaN,NaN,b787473b08f8bf9d630e98991d6156f6,2018-02-09T14:38:26.199Z
96,59,0,1,1,1,CO,1956-06-12T00:00:00.000Z,1956,DR,Flood,FLOOD,1956-06-12T00:00:00.000Z,1956-06-12T00:00:00.000Z,1959-04-01T00:00:00.000Z,NaN,NaN,7caa7b9c7450780acd42bcdfbeb7af90,2018-02-09T14:38:26.269Z
99,33,0,1,1,1,CO,1955-05-25T00:00:00.000Z,1955,DR,Flood,FLOOD,1955-05-25T00:00:00.000Z,1955-05-25T00:00:00.000Z,1957-04-01T00:00:00.000Z,NaN,NaN,ab1be380acb126d995c19734a74d91dd,2018-02-09T14:38:26.211Z

In [12]:
df1.sort_values("fyDeclared",ascending=False)

,disasterNumber,ihProgramDeclared,iaProgramDeclared,paProgramDeclared,hmProgramDeclared,state,declarationDate,fyDeclared,disasterType,incidentType,title,incidentBeginDate,incidentEndDate,disasterCloseOutDate,declaredCountyArea,placeCode,hash,lastRefresh
48214,4367,0,0,1,1,ME,2018-05-30T09:17:00.000Z,2018,DR,Coastal Storm,SEVERE STORM AND FLOODING,2018-03-02T09:35:22.000Z,2018-03-08T00:00:00.000Z,NaN,"York (County)(in MSA 6400,6450)",99031.0,4be3244649c9a925c0e1bb7228688208,2018-05-30T15:25:06.142Z
48055,3397,0,0,1,0,AS,2018-02-11T17:10:00.000Z,2018,EM,Hurricane,TROPICAL STORM GITA,2018-02-07T00:00:00.000Z,NaN,NaN,Eastern (District),99010.0,a8846ec15f4df2a7bcb998329dd64f6d,2018-02-11T23:22:28.649Z
48067,4358,0,0,1,1,KY,2018-04-12T11:15:00.000Z,2018,DR,Flood,"SEVERE STORMS, FLOODING, LANDSLIDES, AND MUDSL...",2018-02-09T12:01:01.000Z,2018-02-14T23:59:00.000Z,NaN,Whitley (County),99235.0,1d86644e708e85164d129cb566fd3b32,2018-04-18T17:54:50.209Z
48066,4358,0,0,1,1,KY,2018-04-12T11:15:00.000Z,2018,DR,Flood,"SEVERE STORMS, FLOODING, LANDSLIDES, AND MUDSL...",2018-02-09T12:01:01.000Z,2018-02-14T23:59:00.000Z,NaN,Harlan (County),99095.0,68d930ce4794e2f603e93e5bce5a2bfb,2018-04-18T17:54:50.207Z
48065,4358,0,0,1,1,KY,2018-04-12T11:15:00.000Z,2018,DR,Flood,"SEVERE STORMS, FLOODING, LANDSLIDES, AND MUDSL...",2018-02-09T12:01:01.000Z,2018-02-14T23:59:00.000Z,NaN,Bell (County),99013.0,4e29d7d433c634c8208f7a0e2b5c87f0,2018-04-18T17:54:50.191Z
48064,5230,0,0,1,0,OK,2018-03-16T17:14:00.000Z,2018,FM,Fire,SHUMACH FIRE COMPLEX,2018-03-16T16:45:49.000Z,NaN,NaN,Pottawatomie (County),99125.0,04df51eb0b1fe3d61fdee4a370e35e96,2018-03-28T15:07:33.962Z
48063,4357,1,0,1,1,AS,2018-03-02T18:45:00.000Z,2018,DR,Hurricane,TROPICAL STORM GITA,2018-02-07T00:00:00.000Z,2018-02-12T23:59:00.000Z,NaN,Swains Island (Island) (County-equivalent),99040.0,9d7b5c6190006ce907cbdaf5f83d3b8a,2018-03-09T17:43:12.802Z
48062,4357,1,0,1,1,AS,2018-03-02T18:45:00.000Z,2018,DR,Hurricane,TROPICAL STORM GITA,2018-02-07T00:00:00.000Z,2018-02-12T23:59:00.000Z,NaN,Rose Island (Island) (County-equivalent),99030.0,57b9b2f86b251f8c6eb5f5838a71f899,2018-03-09T17:43:12.794Z
48061,4357,1,0,1,1,AS,2018-03-02T18:45:00.000Z,2018,DR,Hurricane,TROPICAL STORM GITA,2018-02-07T00:00:00.000Z,2018-02-12T23:59:00.000Z,NaN,Western (District),99050.0,6091f5204dc1c60a6ec1c007683cbabb,2018-03-09T17:43:12.793Z
48060,4357,1,0,1,1,AS,2018-03-02T18:45:00.000Z,2018,DR,Hurricane,TROPICAL STORM GITA,2018-02-07T00:00:00.000Z,2018-02-12T23:59:00.000Z,NaN,Eastern (District),99010.0,882b492c0ba963b9b1e452f3cdef227c,2018-03-09T17:43:12.785Z
48059,4357,1,0,1,1,AS,2018-03-02T18:45:00.000Z,2018,DR,Hurricane,TROPICAL STORM GITA,2018-02-07T00:00:00.000Z,2018-02-12T23:59:00.000Z,NaN,Manu'a (District),99020.0,764a2927aa9ba3c9e580a37e53d6bc31,2018-03-09T17:43:12.772Z
48058,3397,0,0,1,0,AS,2018-02-11T17:10:00.000Z,2018,EM,Hurricane,TROPICAL STORM GITA,2018-02-07T00:00:00.000Z,NaN,NaN,Swains Island (Island) (County-equivalent),99040.0,bc2960b36e91e1f74e0d1b0159d42e54,2018-02-11T23:22:28.652Z
48057,3397,0,0,1,0,AS,2018-02-11T17:10:00.000Z,2018,EM,Hurricane,TROPICAL STORM GITA,2018-02-07T00:00:00.000Z,NaN,NaN,Western (District),99050.0,282522e7afe40197c0ff2ba48750a4a9,2018-02-11T23:22:28.650Z
48056,3397,0,0,1,0,AS,2018-02-11T17:10:00.000Z,2018,EM,Hurricane,TROPICAL STORM GITA,2018-02-07T00:00:00.000Z,NaN,NaN,Rose Island (Island) (County-equivalent),99030.0,4981de54dfa9ea7af225cfd38a0b1534,2018-02-11T23:22:28.651Z
48054,3397,0,0,1,0,AS,2018-02-11T17:10:00.000Z,2018,EM,Hurricane,TROPICAL STORM GITA,2018-02-07T00:00:00.000Z,NaN,NaN,Manu'a (District),99020.0,f2114c93efa64b824042271d9e001394,2018-02-11T23:22:28.629Z
48098,4359,0,0,1,1,WV,2018-04-17T12:30:00.000Z,2018,DR,Mud/Landslide,"SEVERE STORMS, FLOODING, LANDSLIDES, AND MUDSL...",2018-02-14T00:00:00.000Z,2018-02-20T08:33:00.000Z,NaN,Wood (County),99107.0,3ec7db12f2adfb5b70ca4c0c3c205356,2018-04-18T17:54:50.396Z
48053,4355,0,0,1,1,NH,2018-01-02T20:30:00.000Z,2018,DR,Severe Storm(s),SEVERE STORM AND FLOODING,2017-10-29T00:00:00.000Z,2017-11-01T00:00:00.000Z,NaN,Merrimack (County),99013.0,15a8f054451311535645f182cb2b4bf0,2018-02-09T14:40:29.933Z
42398,3396,0,0,1,0,CA,2017-12-08T10:00:00.000Z,2018,EM,Fire,WILDFIRES,2017-12-04T18:00:00.000Z,2017-12-29T23:59:00.000Z,NaN,Riverside (County),99065.0,1097517473b8aa59daad9f90dc397238,2018-05-23T21:02:56.344Z
42389,3396,0,0,1,0,CA,2017-12-08T10:00:00.000Z,2018,EM,Fire,WILDFIRES,2017-12-04T18:00:00.000Z,2017-12-29T23:59:00.000Z,NaN,Los Angeles (County),99037.0,2c8419cc23473a552869cafe0c363310,2018-05-23T21:02:56.336Z
42384,3396,0,0,1,0,CA,2017-12-08T10:00:00.000Z,2018,EM,Fire,WILDFIRES,2017-12-04T18:00:00.000Z,2017-12-29T23:59:00.000Z,NaN,Ventura (County),99111.0,0b3e70d5a3292a0d1d292af4923589f2,2018-05-23T21:02:56.343Z
42379,3396,0,0,1,0,CA,2017-12-08T10:00:00.000Z,2018,EM,Fire,WILDFIRES,2017-12-04T18:00:00.000Z,2017-12-29T23:59:00.000Z,NaN,San Diego (County),99073.0,790e07377d866c3492274e60a8f99b02,2018-05-23T21:02:56.329Z
42361,3396,0,0,1,0,CA,2017-12-08T10:00:00.000Z,2018,EM,Fire,WILDFIRES,2017-12-04T18:00:00.000Z,2017-12-29T23:59:00.000Z,NaN,Santa Barbara (County),99083.0,773ad975a1616e97151b856fe769d2e8,2018-05-23T21:02:56.335Z
47993,4348,0,0,1,1,NY,2017-11-14T07:00:00.000Z,2018,DR,Flood,FLOODING,2017-05-02T00:00:00.000Z,2017-08-06T23:59:00.000Z,NaN,Monroe (County),99055.0,26d3ae9a3fbb4ee99e35c9e4aebc9278,2018-02-09T14:40:29.735Z
47992,4348,0,0,1,1,NY,2017-11-14T07:00:00.000Z,2018,DR,Flood,FLOODING,2017-05-02T00:00:00.000Z,2017-08-06T23:59:00.000Z,NaN,Cayuga (County),99011.0,34ab2147ef726ad69b09ba92dfb9a92e,2018-02-09T14:40:29.785Z
47991,4353,1,0,0,1,CA,2018-01-02T11:00:00.000Z,2018,DR,Fire,"WILDFIRES, FLOODING, MUDFLOWS, AND DEBRIS FLOWS",2017-12-04T18:00:00.000Z,NaN,NaN,Los Angeles (County),99037.0,aa4a1d495891d1944d8dcf61c58eebe3,2018-02-09T14:40:29.783Z
47990,4353,1,0,0,1,CA,2018-01-02T11:00:00.000Z,2018,DR,Fire,"WILDFIRES, FLOODING, MUDFLOWS, AND DEBRIS FLOWS",2017-12-04T18:00:00.000Z,NaN,NaN,San Diego (County),99073.0,87305d8ab060f96f35ad68226ab6fd11,2018-02-09T14:40:29.931Z
47989,4356,0,0,1,1,VT,2018-01-02T20:40:00.000Z,2018,DR,Severe Storm(s),SEVERE STORM AND FLOODING,2017-10-29T00:00:00.000Z,2017-10-30T00:00:00.000Z,NaN,Windham (County),99025.0,c02fdb4751e85cc439e2f5d886236d40,2018-02-09T14:40:29.944Z
47988,4356,0,0,1,1,VT,2018-01-02T20:40:00.000Z,2018,DR,Severe Storm(s),SEVERE STORM AND FLOODING,2017-10-29T00:00:00.000Z,2017-10-30T00:00:00.000Z,NaN,Chittenden (County),99007.0,5271b8021dc6eeaa51d713109100a1ad,2018-02-09T14:40:29.923Z
48068,4358,0,0,1,1,KY,2018-04-12T11:15:00.000Z,2018,DR,Flood,"SEVERE STORMS, FLOODING, LANDSLIDES, AND MUDSL...",2018-02-09T12:01:01.000Z,2018-02-14T23:59:00.000Z,NaN,Metcalfe (County),99169.0,db871ed2c991356e00fbe65d0b7e254c,2018-04-18T17:54:50.209Z
48069,4358,0,0,1,1,KY,2018-04-12T11:15:00.000Z,2018,DR,Flood,"SEVERE STORMS, FLOODING, LANDSLIDES, AND MUDSL...",2018-02-09T12:01:01.000Z,2018-02-14T23:59:00.000Z,NaN,Lee (County),99129.0,82678b6f6b176b90dabcde4aea514110,2018-04-18T17:54:50.207Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23,41,0,1,1,1,NJ,1955-08-20T00:00:00.000Z,1955,DR,Hurricane,HURRICANE & FLOODS,1955-08-20T00:00:00.000Z,1955-08-20T00:00:00.000Z,1957-02-01T00:00:00.000Z,NaN,NaN,e8e7fc4ba3d5e5cce04bfa9ed1b1135e,2018-02-09T14:38:26.186Z
16,22,0,1,1,1,MA,1954-09-02T00:00:00.000Z,1954,DR,Hurricane,HURRICANES,1954-09-02T00:00:00.000Z,1954-09-02T00:00:00.000Z,1956-12-01T00:00:00.000Z,NaN,NaN,a1c34fceb23426ad1107f608ffc8f976,2018-02-09T14:38:26.192Z
15,25,0,1,1,1,CT,1954-09-17T00:00:00.000Z,1954,DR,Hurricane,HURRICANES,1954-09-17T00:00:00.000Z,1954-09-17T00:00:00.000Z,1957-01-01T00:00:00.000Z,NaN,NaN,7c909b0e806b0eca63a1281a8874998b,2018-02-09T14:38:26.291Z
13,21,0,1,1,1,WV,1954-08-04T00:00:00.000Z,1954,DR,Flood,FLOOD,1954-08-04T00:00:00.000Z,1954-08-04T00:00:00.000Z,1957-05-01T00:00:00.000Z,NaN,NaN,fcd87c2c930a7832476fa367c891a9bc,2018-02-09T14:38:26.180Z
19,15,0,1,1,1,CA,1954-02-05T00:00:00.000Z,1954,DR,Flood,FLOOD & EROSION,1954-02-05T00:00:00.000Z,1954-02-05T00:00:00.000Z,1957-09-01T00:00:00.000Z,NaN,NaN,b953d064c3382fd113f2d137853f34d0,2018-02-09T14:38:26.289Z
10,30,0,1,1,1,IN,1954-10-26T00:00:00.000Z,1954,DR,Flood,FLOOD,1954-10-26T00:00:00.000Z,1954-10-26T00:00:00.000Z,1956-03-01T00:00:00.000Z,NaN,NaN,9da11641005f89692675ed8f8bd6dd71,2018-02-09T14:38:26.291Z
8,26,0,1,1,1,NY,1954-10-07T00:00:00.000Z,1954,DR,Hurricane,HURRICANES,1954-10-07T00:00:00.000Z,1954-10-07T00:00:00.000Z,1956-12-01T00:00:00.000Z,NaN,NaN,edde11716f5ee9c6159415d3f91b4d31,2018-02-09T14:38:26.181Z
21,27,0,1,1,1,NM,1954-10-13T00:00:00.000Z,1954,DR,Flood,FLOOD,1954-10-13T00:00:00.000Z,1954-10-13T00:00:00.000Z,1959-12-01T00:00:00.000Z,NaN,NaN,52b59373216310c3ffb3b3b0731550b9,2018-02-09T14:38:26.193Z
1,17,0,1,1,1,IA,1954-06-23T00:00:00.000Z,1954,DR,Flood,FLOOD,1954-06-23T00:00:00.000Z,1954-06-23T00:00:00.000Z,1956-02-01T00:00:00.000Z,NaN,NaN,b0afe5b02eccaa5c8eed1d3f354b0f2b,2018-02-09T14:38:26.191Z
22,16,0,1,1,1,GA,1954-03-17T00:00:00.000Z,1954,DR,Tornado,TORNADO,1954-03-17T00:00:00.000Z,1954-03-17T00:00:00.000Z,1956-11-01T00:00:00.000Z,NaN,NaN,e53be160b14fd7e1412c10a9af229e4f,2018-02-09T14:38:26.179Z
83,28,0,1,1,1,NC,1954-10-17T00:00:00.000Z,1954,DR,Hurricane,HURRICANE,1954-10-17T00:00:00.000Z,1954-10-17T00:00:00.000Z,1959-01-01T00:00:00.000Z,NaN,NaN,28de4f870885c9f53eaf9aecd464c52a,2018-02-09T14:38:26.210Z
33,14,0,1,1,1,MS,1953-12-06T00:00:00.000Z,1954,DR,Tornado,TORNADO,1953-12-06T00:00:00.000Z,1953-12-06T00:00:00.000Z,1956-06-01T00:00:00.000Z,NaN,NaN,99ebb37276b4b537880395e7480098a1,2018-02-09T14:38:26.199Z
48,19,0,1,1,1,NV,1954-07-14T00:00:00.000Z,1954,DR,Earthquake,EARTHQUAKE,1954-07-14T00:00:00.000Z,1954-07-14T00:00:00.000Z,1957-08-01T00:00:00.000Z,NaN,NaN,34fc1e0d24d891491b64c7265220aff7,2018-02-09T14:38:26.200Z
52,18,0,1,1,1,TX,1954-07-01T00:00:00.000Z,1954,DR,Flood,FLOOD,1954-07-01T00:00:00.000Z,1954-07-01T00:00:00.000Z,1959-07-01T00:00:00.000Z,NaN,NaN,f450cfc4ceb3c2cb07e6c35f8b9f1faa,2018-02-09T14:38:26.208Z
63,24,0,1,1,1,ME,1954-09-13T00:00:00.000Z,1954,DR,Hurricane,HURRICANES,1954-09-13T00:00:00.000Z,1954-09-13T00:00:00.000Z,1956-12-01T00:00:00.000Z,NaN,NaN,fff815430764fb727a669b305797e6ac,2018-02-09T14:38:26.201Z
67,23,0,1,1,1,RI,1954-09-02T00:00:00.000Z,1954,DR,Hurricane,HURRICANES,1954-09-02T00:00:00.000Z,1954-09-02T00:00:00.000Z,1956-12-01T00:00:00.000Z,NaN,NaN,3218f8ea350cce64dd28d162f7081492,2018-02-09T14:38:26.209Z
24,20,0,1,1,1,SD,1954-07-31T00:00:00.000Z,1954,DR,Flood,FLOOD,1954-07-31T00:00:00.000Z,1954-07-31T00:00:00.000Z,1956-02-01T00:00:00.000Z,NaN,NaN,faeef061de90973feb2693e34f218a66,2018-02-09T14:38:26.290Z
79,29,0,1,1,1,SC,1954-10-17T00:00:00.000Z,1954,DR,Hurricane,HURRICANE,1954-10-17T00:00:00.000Z,1954-10-17T00:00:00.000Z,1959-01-01T00:00:00.000Z,NaN,NaN,171233dd451915da1229142202f85689,2018-02-09T14:38:26.201Z
2,3,0,1,1,1,LA,1953-05-29T00:00:00.000Z,1953,DR,Flood,FLOOD,1953-05-29T00:00:00.000Z,1953-05-29T00:00:00.000Z,1960-02-01T00:00:00.000Z,NaN,NaN,a6dd526e79d7292ae21a7f9430422931,2018-02-09T14:38:26.144Z
98,7,0,1,1,1,MA,1953-06-11T00:00:00.000Z,1953,DR,Tornado,TORNADO,1953-06-11T00:00:00.000Z,1953-06-11T00:00:00.000Z,1956-06-01T00:00:00.000Z,NaN,NaN,5272e4b5489ba5cf458211588940bc14,2018-02-09T14:38:26.204Z
4,9,0,1,1,1,TX,1953-06-19T00:00:00.000Z,1953,DR,Flood,FLOOD,1953-06-19T00:00:00.000Z,1953-06-19T00:00:00.000Z,1958-01-01T00:00:00.000Z,NaN,NaN,4cd4150b6fb47c91e50e3c466726ea67,2018-02-09T14:38:26.288Z
94,8,0,1,1,1,IA,1953-06-11T00:00:00.000Z,1953,DR,Flood,FLOOD,1953-06-11T00:00:00.000Z,1953-06-11T00:00:00.000Z,1955-11-01T00:00:00.000Z,NaN,NaN,b787473b08f8bf9d630e98991d6156f6,2018-02-09T14:38:26.199Z
6,12,0,1,1,1,FL,1953-10-22T00:00:00.000Z,1953,DR,Flood,FLOOD,1953-10-22T00:00:00.000Z,1953-10-22T00:00:00.000Z,1956-05-01T00:00:00.000Z,NaN,NaN,e1dd1b5fcd1a696666324e75fc3947e2,2018-02-09T14:38:26.190Z
11,6,0,1,1,1,MI,1953-06-09T00:00:00.000Z,1953,DR,Tornado,TORNADO,1953-06-09T00:00:00.000Z,1953-06-09T00:00:00.000Z,1956-03-30T00:00:00.000Z,NaN,NaN,651d8c2509b27f596b6197beb8467991,2018-02-09T14:38:26.189Z
82,2,0,1,1,1,TX,1953-05-15T00:00:00.000Z,1953,DR,Tornado,TORNADO & HEAVY RAINFALL,1953-05-15T00:00:00.000Z,1953-05-15T00:00:00.000Z,1958-01-01T00:00:00.000Z,NaN,NaN,15b902cd3d72b189d8298e383fa97433,2018-02-09T14:38:26.198Z
9,5,0,1,1,1,MT,1953-06-06T00:00:00.000Z,1953,DR,Flood,FLOODS,1953-06-06T00:00:00.000Z,1953-06-06T00:00:00.000Z,1955-12-01T00:00:00.000Z,NaN,NaN,e7d2763d2bbece77c1d9d404cdfd7795,2018-02-09T14:38:26.287Z
78,4,0,1,1,1,MI,1953-06-02T00:00:00.000Z,1953,DR,Tornado,TORNADO,1953-06-02T00:00:00.000Z,1953-06-02T00:00:00.000Z,1956-02-01T00:00:00.000Z,NaN,NaN,f83270abb78efde2b53105486880f62c,2018-02-09T14:38:26.204Z
17,11,0,1,1,1,NH,1953-07-02T00:00:00.000Z,1953,DR,Fire,FOREST FIRE,1953-07-02T00:00:00.000Z,1953-07-02T00:00:00.000Z,1956-02-01T00:00:00.000Z,NaN,NaN,08f121919f2b6338bb3e83b01b203425,2018-02-09T14:38:26.173Z
37,13,0,1,1,1,AK,1953-10-30T00:00:00.000Z,1953,DR,Other,SEVERE HARDSHIP,1953-10-30T00:00:00.000Z,1953-10-30T00:00:00.000Z,1957-09-01T00:00:00.000Z,NaN,NaN,22a2ffa6e3a98a7cc953f21965afc0dd,2018-02-09T14:38:26.205Z
0,1,0,1,1,1,GA,1953-05-02T00:00:00.000Z,1953,DR,Tornado,TORNADO,1953-05-02T00:00:00.000Z,1953-05-02T00:00:00.000Z,1954-06-01T00:00:00.000Z,NaN,NaN,e6f77c3a97c63d478bf14c9a58f60a0d,2018-02-09T14:38:26.149Z